body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
  padding-left: 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Title Section */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.pair-o-btns {
  margin-right: 20px;
}

.rotated-phone {
  transform: rotate(25deg);
  width: 50%;
  margin: 5% 10% 5% 30%;
  position: absolute;
}

/* Feaures Section */
#features {
  position: relative;
}

.features-title {
  font-size: 1.5rem;
}

.section2-icons {
  color: #ef8172;
  font-size: 4rem;
  padding-bottom: 5%;
}

.section2-icons:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
  position: relative;
}

#testimonials .container-fluid {
  padding-bottom: 3%;
}

.testimonials-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonials-image {
  border-radius: 50%;
  width: 10%;
  margin: 20px;
}

/* Press Section */
#press {
  background-color: #ef8172;
}

#press .container-fluid {
  padding: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 40px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.pricing-text {
  font-size: 3rem;
  line-height: 1.5;
}

.price-col {
  padding: 3% 2%;
}

/* Call to Action Section*/
.cta-heading {
  margin-bottom: 10%;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer Section*/
#footer .container-fluid {
  padding: 3%;
}

.footer-icons {
  margin: 20px 10px;
}

/* @media queries */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .rotated-phone {
    position: static;
    transform: rotate(0);
    margin: auto;
  }

  .pair-o-btns {
    margin: 5% 20px;
  }

  .big-heading {
    padding: 0 15%;
  }
}
